<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TriPeaks Solitaire</title>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Custom font -->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">

    <!-- My styling -->
    <link rel="stylesheet" href="./style.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="./images/favicon.ico">
    <link rel="icon" href="./images/favicon.ico">

    <!-- Javascript login file -->
    <script src="login.js"></script>

    <!-- Google analytics -->
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-90513316-1', 'auto');
        ga('send', 'pageview');
    </script>


</head>

<body>

    <div class="headerBox">
        <div class="header">
            <div id="reset" class="leftHead">Reset</div>
            <div class="midHead">TriPeaks Solitaire</div>
            <div id="newHand" class="rightHead">New Hand</div>
        </div>
    </div>

    <div class="board">
        <div class="tableBox">
            <div class="outerLoginBox">
                <div class="loginBox">
                    <div class="registerText">
                        Register/ Sign in
                    </div>
                    <div class="verticalLine">
                        <label>Username: <input id="username" name="name" type="text"></label><br>
                        <label>Password: &nbsp<input id="password" name="hashed_password" type="password"></label><br>
                    </div>
                    <div id="login" class="loginButton">Login</div>
                </div>
                <div class="errorBox" id="error"></div>
            </div>
        </div>
        <footer class="stickyFooter">
            <div class="score">
                <div>Score: <span id="scoreSpan"></span></div>
                <div>Streak: <span id="scoreStreakSpan"></span></div>
            </div>
        </footer>

    </div>


</body>

</html>
